*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
  }
  
  input[type="number"], button {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.8;
  }
  